@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  height: fit-content;
}

a:link {
  color: #ffbf73;
}

a:visited {
  color: #9f645a;
}

body {
  background-color: #1c2026;
  margin: auto;
}

button {
  background: hsl(337deg 36% 44%);
  color: #fff5e4;
  border: none;
  border-radius: 4px;
  padding: 12px;
  margin: 12px 12px 0 0;
  font-size: smaller;
}

.flex {
  display: flex;
}

.profile-container {
  display: flex;
  border-radius: 5px;
}

.profile-container > div {
  margin: 0 20px;
}

.profile-container .profile-text > div,
p {
  margin: 0 0 15px;
}

.profile-container .profile-text h2,
h3 {
  margin: 0;
}

.column {
  flex-direction: column;
  display: flex;
}

#contact {
  background: hsl(210deg 5% 10%);
  padding: 40px;
  line-height: 1.5;
  color: #fff5e4;
  margin: 60px 0 0;
}

#contact > div {
  width: min(100%, 800px);
}

#contact h2 {
  margin: 0;
  line-height: normal;
}

#contact img {
  width: 50px;
  margin: 0 0 0 14px;
}

#contact form {
  width: min(60%, 400px);
  font-size: smaller;
}

#contact input,
#contact textarea {
  background: #2b2f31;
  color: white;
  border: 2px solid hsl(216deg 15% 45%);
  border-radius: 3px;
  margin-bottom: 12px;
}

#contact textarea {
  height: 100px;
  border-radius: 4px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

h3 {
  text-align: left;
}

h4 {
  font-size: 15px;
  color: #dbebfa;
  margin: 0px 0px 0px 10px;
  padding-bottom: 6px;
}

.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.flex-auto {
  flex: auto;
}

img {
  width: 100%;
  margin: 0 0 10px;
  border-radius: 5px;
}

main {
  margin-top: 30px;
}

#my-email {
  margin: 0 6px 12px 0;
}

.no-margin {
  margin: 0 !important;
}

ul {
  list-style-type: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.v-top {
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 700px) {
  #contact {
    padding: 36px 12px;
  }

  #contact form {
    width: auto;
  }

  #contact img {
    width: 40px;
  }

  #contact .space-between {
    margin-bottom: 12px;
  }

  #my-email {
    font-size: xx-small;
  }
}
