@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,900&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/*
CSS rules to specify families:
  font-family: 'Montserrat', sans-serif;
  font-family: 'Permanent Marker', cursive;
*/

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #628293;
}

a:visited {
  color: #9f645a;
}

body {
  background-color: #141e2c;
  margin: auto;
}

.container {
  display: flex;
}

h1 {
  color: hsl(203deg 37% 25% / 82%);
  font-family: "Permanent Marker", cursive;
  font-size: 16vmax;
  font-style: italic;
  text-align: center;
  top: -20vmax;
}

h3 {
  color: #feedd7;
  font-size: 1.8vmax;
  margin: 2px 0px 18px 0px;
  text-align: left;
}

h4 {
  font-size: 15px;
  color: #dbebfa;
  margin: 0px 0px 0px 10px;
  padding-bottom: 6px;
}

header {
  margin-top: 60px;
  width: 100%;
  height: 70vmax;
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0) 0,
      rgba(22, 22, 22, 0) 75%,
      #141e2c 100%
    ),
    url(./images/dawn.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 35rem;
  padding: 9rem 0 0.25rem;
}

#github {
  background: #3a4755;
  width: fit-content;
  padding: 3%;
  line-height: 7;
}

p {
  line-height: normal;
  margin: 0;
}

.box {
  background-color: rgba(53, 63, 93, 0.45);
  text-align: center;
  border-radius: 5px;
  color: #fff5e4;
  width: 90%;
  margin: 60px auto;
}

img {
  border-radius: 5px;
}

main {
  margin-top: 30px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  padding: 20px;
}

.navbar a {
  margin: 0 20px;
  font-size: small;
}

.no-pad {
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Profile Sytles */
#profile {
  border-radius: 5px;
}

#profile p {
  font-size: initial;
  margin: 0.5em 0%;
  width: 100%;
}

#profile * {
  padding: 0;
}

#portfolio {
  padding: 0;
}

/* Portfolio Sytles */
#portfolio div {
  background: hsl(0, 38%, 40%);
  border-radius: 6px;
  padding: 0 1em;
  height: 40em;
  margin: 1em 0;
}

#portfolio img {
  width: 100%;
}

#portfolio h2 {
  text-align: center;
  padding: 1em 0;
}

#portfolio h3 {
  font-size: large;
  margin: 0 0;
  padding: 0.75em 0;
}

#portfolio p {
  width: 100%;
  margin: 1em 0;
}

.space-between {
  justify-content: space-between;
}

.v-center {
  display: flex;
  align-items: center;
}
