@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  height: fit-content;
}

a:link {
  color: #ffbf73;
}

a:visited {
  color: #9f645a;
}

body {
  background-color: #1c2026;
  margin: auto;
}

button {
  background: hsl(337deg 36% 44%);
  color: #fff5e4;
  border: none;
  border-radius: 4px;
  padding: 12px;
  margin: 12px 12px 0 0;
  font-size: smaller;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.flex-auto {
  flex: auto;
}

img {
  width: 100%;
  margin: 0 0 10px;
  border-radius: 5px;
}

main {
  margin-top: 30px;
}

.no-margin {
  margin: 0 !important;
}

ul {
  list-style-type: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.v-top {
  display: flex;
  align-items: flex-start;
}
