<section class="container">
  <div class="profile-image">
    <img src="./images/headshot.jpg" alt="Headshot photo of J. Isaac Moreno" />
  </div>
  <div class="profile-info">
    <h2 class="profile-name">J. Isaac Moreno</h2>
    <h3 class="profile-title">Full-Stack Web Developer</h3>
    <h4 class="profile-location">Fort Worth, TX</h4>
    <div class="profile-description">
      <p>
        Hello World! I'm J. Isaac Moreno, a passionate full-stack web developer
        with expertise in a range of technologies including HTML, CSS,
        JavaScript, React, Ruby on Rails, and PostgreSQL, among others. I invite
        you to explore my work below to get a glimpse of my skills and projects.
      </p>
      <p>
        Apart from coding, I immerse myself in creative pursuits. When I'm not
        shaping digital experiences, you'll find me producing music or delving
        into the world of indie filmmaking. Feel free to check out my
        <a href="https://soundcloud.com/novakumusic">music</a> on my SoundCloud
        page, where I showcase my artistic side.
      </p>
      <p>
        I'm constantly seeking new challenges and opportunities to further
        enhance my skills and contribute to innovative projects. If you have any
        inquiries or collaboration ideas, please don't hesitate to reach out.
        Let's create something amazing together!
      </p>
    </div>
  </div>
</section>
