#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: white;
}

.profile-image {
  margin-right: 40px;
}

.profile-image img {
  max-width: 450px;
  height: auto;
  border-radius: 50%;
}

.profile-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-title {
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
}

.profile-location {
  font-size: 18px;
  color: #888;
  margin-bottom: 20px;
}

.profile-description {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  #profile {
    flex-direction: column;
  }

  .profile-image {
    margin-right: 0;
    align-self: flex-start; /* Align the image to the top left */
  }

  .profile-image img {
    max-width: 120px;
    width: 20vmin;
  }
}
