<section class="container">
  <div class="profile-image">
    <img src="./images/headshot.jpg" alt="Headshot photo of J. Isaac Moreno" />
  </div>
  <div class="profile-info">
    <h2 class="profile-name">J. Isaac Moreno</h2>
    <h3 class="profile-title">Full-Stack Web Developer</h3>
    <h4 class="profile-location">Fort Worth, TX</h4>
    <div class="profile-description">
      <p>
        Hello World! I'm a full-stack web developer. My experience includes
        HTML, CSS, JavaScript, React, Ruby on Rails, PostgreSQL, and others. I
        am currently a student at Thinkful. Check out my work below.
      </p>
      <p>
        If I am not coding my life away, I am producing music or writing a
        script for my next indie film. Check out my music
        <a href="https://soundcloud.com/novakumusic">here</a> on my Soundcloud
        page.
      </p>
    </div>
  </div>
</section>
