<div>
  <div class="space-between v-top">
    <h2>Contact Me</h2>
    <div>
      <div id="my-email">
        <a href="mailto:jaime@jisaacworx.com">jaime@jisaacworx.com</a>
      </div>
      <div class="v-center flex-end">
        <a href="https://github.com/xJIsaac">
          <img src="./images/github.png" alt="GitHub logo" />
        </a>
        <a href="https://www.linkedin.com/in/jaime-moreno-30b41859/">
          <img src="./images/lilogo.png" alt="LinkedIn logo" />
        </a>
      </div>
    </div>
  </div>
  <!-- Contact form -->

  <form id="contact-form" class="column" action="/send-email" method="POST">
    <label for="user-name">First name:</label>
    <input
      id="user-name"
      type="text"
      name="name"
      placeholder="Enter your name"
    />
    <label for="user-email">Email:</label>
    <input
      id="user-email"
      placeholder="Enter your email address"
      type="email"
      name="_replyto"
    />
    <label for="form-message">Your message:</label>
    <textarea
      id="form-message"
      name="message"
      autofocus="on"
      required
      maxlength="200"
      placeholder="How can I help you?"
    ></textarea>
    <div>
      <button type="submit">Send</button>
      <button type="reset">Reset</button>
    </div>
    <div id="loading" class="loading-spinner">
      <div class="spinner"></div>
      <div class="loading-text">Submitting...</div>
    </div>
    <div id="formNotification"></div>
  </form>
</div>
