#contact {
  background: hsl(210deg 5% 10%);
  padding: 40px;
  line-height: 1.5;
  color: #fff5e4;
  margin: 60px 0 0;
}

#contact > div {
  width: min(100%, 800px);
}

#contact h2 {
  margin: 0;
  line-height: normal;
}

#contact img {
  width: 50px;
  margin: 0 0 0 14px;
}

#contact form {
  width: min(60%, 400px);
  font-size: smaller;
}

#contact input,
#contact textarea {
  background: #2b2f31;
  color: white;
  border: 2px solid hsl(216deg 15% 45%);
  border-radius: 3px;
  margin-bottom: 12px;
}

#contact textarea {
  height: 100px;
  border-radius: 4px;
}

#my-email {
  margin: 0 6px 12px 0;
}

#contact .space-between {
  margin-bottom: 12px;
}

@media screen and (max-width: 700px) {
  #contact {
    padding: 36px 12px;
  }

  #contact form {
    width: auto;
  }

  #contact img {
    width: 40px;
  }

  #my-email {
    font-size: xx-small;
  }
}
